@import url('https://fonts.googleapis.com/css2?family=Alata&display=swap');
@font-face {
  font-family: 'Aharoni';
  src: URL('Aharoni/ahronbd.ttf') format('truetype');
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    font-family: 'Alata', sans-serif;

    /* база 16px = 100% */
    /* база 10px = 62.5% */
    font-size: 62.5%;
    /* 1rem = 10px  */
    /* 2.4rem = 24px */
    /* 12rem = 1200px*/
    color: #E8E8E8;
}

body {
    height: 100vh;
    background-color: rgb(34, 26, 55);
    background-image: url('images/Background Image.png');
    background-repeat: no-repeat;
    background-position: left bottom;
}

/* header */
header {
    max-width: 142rem;
    display: flex;
    justify-content: space-between;
    padding: 6rem;
}

header .logo {
    font-size: 2.7rem;
}

header nav {
    display: flex;
    padding: 1rem 3.6rem;
    gap: 3.2rem;
}

header nav a {
    display: inline-block;
    padding: 1rem 2rem;
    font-size: 1.2rem;
    color: #E8E8E8;
    text-decoration: none;
    transition: all 0.5s;
}

header nav a:hover {
    background: #402166;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
    border-radius: 26px;
}

/* main */
main {
    max-width: 142rem;
    padding: 2rem 10rem;
    display: grid;
    grid-template-columns: 48.5rem;
    justify-content: end;
    font-size: 1.6rem;
    font-family: 'Aharoni';
}

main .title {
    margin: 3rem 0;
}

main .title .top {
    font-style: normal;
    font-weight: 700;
    font-size: 2rem;
    color: #5D3974;
}

main .title .bottom {
    font-weight: 700;
    font-size: 1.4rem;
    color: #575757;
}

main .title h1,
main .title h2 {
    font-weight: 700;
    font-size: 5.2rem;
    line-height: 5.2rem;
}

main .info {
    margin-bottom: 3rem;
}

main.gallery {
    padding-right: 15rem;
    padding-top: 4rem;
    padding-bottom: 9.2rem;
    grid-template-columns: auto auto;
    grid-row-gap: 1rem;
    grid-column-gap: 1rem;
}

main.gallery img {
    border-radius: 10px;
}

main.certificates {
    padding-right: 15rem;
    padding-top: 13rem;
    padding-bottom: 9.2rem;
    grid-template-columns: auto auto;
    grid-row-gap: 1rem;
    grid-column-gap: 2rem;
}

main.resume {
    padding-right: 15rem;
}

.component {
    display: grid;
    width: 50rem;
    height: 23.2rem;
    grid-template-columns: 13rem 4.2rem 33.4rem;
    padding: 2rem;
}

.separator {
    background-color: #A60AC7;
    margin: 0 2rem;
    box-shadow: 0px 4px 4px #A60AC7;
    border-radius: 10px;
}

.component_right {
    font-size: 1rem;
    line-height: 1.5rem;
    padding-right: 2rem;
}

.component_right h1 {
    font-size: 1.4rem;
    margin: 1rem 0;
}

.component_right ul {
    margin-left: 2rem;
}

.component_left .top {
    color: #5D3974;
    text-align: right;
    font-size: 1.2rem;
    margin-top: 0.5rem;
}

.component_left .bottom {
    color: #575757;
    text-align: right;
    margin-top: 2rem;
    font-size: 1.2rem;
}