@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:wght@300;400;500;600;700&display=swap');

html{
    font-family: 'Cormorant Garamond', serif;
    color: #535353;
}

body{
    margin: 0;
}

header, footer  {
    font-size: 25px;
}

/* список новостей */
.news{
    max-width: 1200px;
    background-color: aliceblue;
    margin: auto;
    padding: 30px;
}

.news_item{
    margin: 100px 0;
    background-color: #cde3eb;
    padding: 30px;
    border-radius: 5px;
}

.news_item h2{
    font-size: 30px;
}

.news_item span{
    margin-right: 30px;
    font-weight: 500;
    font-size: 20px;
}

.news_item .link{
    text-decoration: none;
    color: inherit;
    padding: 5px 10px;
    transition: all 0.5s;
}

.news_item .link:hover{
    background-color: salmon;
}

.news_item .news_link{
    font-size: 20px;
    display: inline-block;
    padding: 10px 20px;
    background-color: salmon;
    border-radius: 5px;
    text-decoration: none;
    text-transform: uppercase;
    color: #d5ffc9;
    font-weight: 600;
}

.news_preview{
    display: flex;
    padding: 30px 0;
    gap: 30px;
}

.news_preview img{
    width: 350px;
    border-radius: 7px;
}

.news_preview p{
    font-size: 25px;
    font-weight: 500;
}


/* новость детально */
.news_block{
    max-width: 1200px;
    background-color: aliceblue;
    margin: auto;
    padding: 20px 40px;
    display: flex;
    gap: 20px;
}

.news_detail{
    width: 70%;
}

.news_detail img{
    width: 100%;
}

.news_detail .full_text{
    font-size: 20px;
}

.news_detail .full_text p{
    padding-bottom: 20px;
}


/* боковая панель */
.sidebar{
    width: 30%;
    padding: 20px;
}

.author{
    border: 3px solid lightblue;
    padding: 10px;
}

.author img{
    width: 100%;
}

.author p{
    font-size: 20px;
}

.category_news{
    margin-top: 80px;
}

.category_news img{
    width: 100%;
}

.category_news .category_news_item{
    margin-top: 30px;
    padding: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #faf8f0;
}

.category_news .category_news_item h4{
    margin: 0;
    margin-top: 10px;
    text-align: center;
}
.category_news .category_news_item p{
    margin: 7px 0 0;
}


.active-link{
    background-color: gold;
    color: brown;
}